
body {
    color: black;
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #f0d9da;
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-size: 3.6rem;
    font-weight: normal;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.container {
	display: flex;
	flex-direction: column;             /* 左から右 */
	flex-wrap: wrap;            /* 折り返し有り */
	justify-content: center;        /* 中央配置 */

    background-color: #f0d9da;
}
.content{
	display: block;
    width: 45%;
    margin: 0 auto;
    justify-content: center;  
}

.item{
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 35px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 10px;
}

img{
	width: 400px;
	height: 300px;
}
/*
.flexitem2{
    width: 80%;
    text-align: center;
    margin: 20px;
    padding: 15px;
  }

.item1{
	background-color: rgba(230,135,135,1.0);
}
.item2{
	background-color: hsla(35,80%,60%,1.0);
}
.item3{
	background-color: skyblue;
}
.item4{
	background-color: lightyellow;
}


.yellow:after { background:#f4ec5a; }
.blue:after   { background:#00a1cb; }
.green:after  { background:#19dd89; }
.pink:after   { background:#d31996; }



.flexitem2{
	overflow: hidden;
}
.box1 {
	float: left;
	background-color: red;
	width: 300px;
}

.box2 {
	float: left;
	background-color: blue;
	width: 300px;
}

*/


.tag_area07 ul {
    margin: 15px;
    padding: 0px;
    list-style: none;
  }
  .tag_area07 ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
  }
  .tag_area07 ul li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em 0 .75em;
    background-color: #d69498;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .tag_area07 ul li a:hover {
    background-color: #555;
    color: #fff;
  }
  .tag_area07 ul li a:before {
    content: "#";
    padding-right: 2px;
  }
  
  img {
  	border: 1px lightgray solid;
  }
  
/* ##############  599px以下 ############## */
@media ( max-width : 599px) {
    .content{
        width: 85%;
    }
}

/* ##############  600px以上 ############## */
@media ( min-width : 600px) and ( max-width : 767px) {
    .content{
        width: 85%;
    }
}

/* ##############  768px以上 ############## */
@media ( min-width : 768px) and ( max-width : 1189px) {
}

/* ############## 1190px以上 ############## */
@media ( min-width : 1190px) {
}