/*---------------------------------

　共通設定

---------------------------------*/
html {
}

body {
  font-size: 1.4rem;

    margin: 0px;
    padding: 0px;
    font-family:  sans-serif;
  }



h2 {
  font-size: 3.3rem;

  font-family: 'Caveat', cursive;
  font-style: normal;
color: #fff;
  background: #f0d9da;
	text-align: left;
  margin: 0px;
  padding: 15px;
  font-weight: 500;
}

i {
  color: #949191;
  font-size: 4rem;  
}
